= link_to [client.company, client], class: "list-group-item list-group-item-action" do
  %span.tag.tag-default.tag-pill.pull-xs-right
    = client.employees.count
  %h5.list-group-item-heading
    = client.name
  %p.list-group-item-text Resp: #{client.responsible}
