%h1.m-t-2.m-b-1.text-xs-center= @company.name

.row
  .col-md-5
    .list-group
      = render @company.clients

  .col-md-6
    %h2.text-muted.text-xs-center Editar datos de la empresa
    = render "form"
