@import "_variables";
@import "bootstrap";
@import "font-awesome";
@import "users";

h1, h2 {
  font-family: "Amatic SC", cursive;
  text-transform: uppercase;
}

nav {
  form {
    margin-top: 3px;
  }
}

.navbar-brand {
  font-family: "Amatic SC", cursive;
  font-size: 30px !important;
  text-transform: uppercase;
  margin-right: 2rem;
}
