@import "_variables";
@import "bootstrap";
@import "font-awesome";
@import "users";
@import "employees";

h1, h2 {
  font-family: "Amatic SC", cursive;
  text-transform: uppercase;
}

a {
  color: #373a3c;
  i {
    margin-left: 5px;
  }
}

nav {
  border-bottom: 1px solid #e7e7e7;
}

.navbar-brand {
  font-family: "Amatic SC", cursive;
  font-size: 25px !important;
  text-transform: uppercase;
  margin-right: 2rem;
}

.btn-file {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

.file-text {
  @extend .text-muted;
  margin-left: 10px;
}

.dashed-list {
  padding: 20px;
  border-bottom: 1px dashed #E7EBEF;
  text-align: center;
  &:last-child {
    border-bottom: none;
  }
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  > li {
    padding: 3px 20px;
    &.ui-state-focus {
      background-color: #DDD;
    }
  }
}
